.wrapper {
	max-width: calc($max-width + $wrapper-padding * 2);
	margin: 0 auto;
	display: flex;
	height: 100%;
	padding: 0 $wrapper-padding;
}

#app {
	height: 100%;
}

.text-section {
	margin: 3em 0;
}

.page-container {
  width: 100%;
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
  width: calc(50% - $wrapper-padding);
}

.page-container .column:last-of-type {
  margin-left: calc($wrapper-padding * 4);
}

.chart-wrapper {
  margin: 46px 24px -8px;
}

.chart-wrapper text {
  font-size: 0.7em;
}

.chart-wrapper .tooltip {
  font-size: 12px;
  max-width: 200px;
  background-color: rgba(0, 0, 0, 0.777);
  padding: 10px;
  color: white;
}

.transfer-form__wrapper {
  max-width: none !important;
  margin: 0 32px;
}

.description {
  max-width: 100%;
}

.description pre {
  font-size: 12px;
  background-color: #271e1e;
  color: #a4fda4;
  white-space: normal;
  word-break: break-all;
}
