.wrapper {
	max-width: calc($max-width + $wrapper-padding * 2);
	margin: 0 auto;
	display: flex;
	height: 100%;
	padding: 0 $wrapper-padding;
}

#app {
	height: 100%;
}

.text-section {
	margin: 3em 0;
}

.page-container {
  width: 100%;
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
  width: calc(50% - $wrapper-padding);
}

.chart-wrapper {
  margin: 32px 24px;
}

.chart-wrapper text {
  font-size: 0.7em;
}

.chart-wrapper .tooltip {
  font-size: 12px;
  max-width: 200px;
  background-color: rgba(0, 0, 0, 0.777);
  padding: 10px;
  color: white;
}

.transfer-form__wrapper {
  max-width: none !important;
  margin: 0 32px;
}
